#include <stdio.h>
#include <math.h>
#include <conio.h>
#include <stdlib.h>

int main ()
{
float a,b,c,x1,x2,x0;
puts("Witaj w testowym programie\n Program do obliczania pierwiastkow rownania kwadratowego");
printf ("\n Podaj wspolczynnik a: ");
scanf ("%f", &a);
printf ("\n Podaj wspolczynnik b: ");
scanf ("%f", &b);
printf ("\n Podaj wspolczynnik c: ");
scanf ("%f", &c);
puts ("\t\tObliczanie delty");
float y=(a*pow(x,2) + b*x + c);
printf("Delta jest równa: %.2f",y);
if y < 0
{
  printf("Rownanie nie ma pierwiastkow\n\n");
}

if y = 0;
{
  printf ("Rownanie ma jedno rozwiazanie\n\n");
  x0=(-b)/(2a);
  printf("x0 wynosi: %.2f", x0);
}

if y > 0                                            
{
  printf ("Rownanie ma dwa pierwiastki");

  x1=((-b - (sqrt (y)))/(2a);
  x2=((-b + (sqrt (y)))/(2a);

  printf ("x1 = %.2f \nx2 = %.2f", x1, x2);
}

else
  printf ("Nieznany typ wprowadzonych danych\n\n");


getchar();
return 0;

}
